body{

background: linear-gradient(rgb(106, 164, 202),rgb(12, 92, 211));

}

h3{
    font-size: 24px;
    color: rgb(146, 209, 250);
    font-family: Verdana,Geneva,sans-serif; 
    text-align: center;
}
header{
    display: block;
    text-align: center;
}

header h1{
    float: left;
    font-family: Verdana;
    font-family: 'PT Sans';
    font-size: 60px;
    
}

header h1 a{
    text-decoration: rgb(255, 255, 85);
    color: white;
    font-family: Verdana,Geneva,sans-serif; 
    text-align: center;
}

header ul{
    display: inline;
    list-style-type: none;
    float: right;
    
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 20px 20px;
    text-decoration: none;
    
   
    border-radius: 30px;
    background-color: rgb(0, 153, 255);
    color: white;
    font-size: 24px;
}

header ul li a:hover{
    background-color: rgb(255, 213, 28);
   

}


nav{
    padding-top: 50px;
}






.slider{
    width: 100%;
    height: auto;
   

    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0%;
    width: 300%;

    animation: pase 15s infinite alternate ease-in;

}
.slider li{
    list-style: none;
}
.slider img{
    width: 100%;
    height: auto;
}

@keyframes pase {
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    33%{margin-left: -100%;}
    66%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}

section{
    display: block;
    margin: auto;
}
h2{
    font-size: 32px;
    color: rgb(252, 230, 38);
    font-family: Verdana,Geneva,sans-serif; 
}
.sobre{
    font-size: 22px;
    color: white;
}

/*productos*/

.productos{
    width:100%;
	height:100%;
    display:flex;
    justify-content: space-around;

}

.imgs{
    width: 300px;
    height: 180px;
}

.imgs img{
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 7px;
}

.p1 img:last-child{
    display: none;
}
.p2 img:last-child{
    display: none;
}
.p3 img:last-child{
    display: none;
}
.p4 img:last-child{
    display: none;
}

div.pie{
    text-align: center;
    padding: 10px;

}
/*Hover productos*/

.p1:hover img:last-child{
    display: inline-block;
    
}
.p1:hover img:first-child{
    display: none;
}

.p2:hover img:last-child{
    display: inline-block;
}
.p2:hover img:first-child{
    display: none;
}

.p3:hover img:last-child{
    display: inline-block;
}
.p3:hover img:first-child{
    display: none;
}

.p4:hover img:last-child{
    display: inline-block;
}
.p4:hover img:first-child{
    display: none;
}


.contacto{
    display: block;
}